:root {
  --background: #f6f8fb;
  --border-color-p: #e0e7ef;
  --border-color-p-hover: #b2b7bd;
  --color-background-card: #ffffff;
  --color-text: #171717;
  --color-placeholder: #9c9e9e;
  --background-button: #b5b5b5;
  --background-button-hover: #868686;
  --color-button: #e6e6e6;
  --toast-background: #969696cc;
  --toast-border: #b8b8b8;
  --toast-color: #ffffff;
}

.dark-theme {
  --background: #121212;
  --color-text: #e0e0e0;
  --color-background-card: #1e1e1e;
  --border-color-p: #353535;
  --border-color-p-hover: #5a5a5a;
  --color-placeholder: #9c9e9e;
  --background-button: #505050;
  --background-button-hover: #6a6a6a;
  --color-button: #e0e0e0;
  --toast-background: #333333cc;
  --toast-border: #444444;
  --toast-color: #ffffff;
}
